extends layout
//- The above line will look for a layout.pug file within the /views folder (or, within the current folder that index.pug is in).

block layout-content 
  h1 Welcome to my website! 
  p This is a random paragraph...