extends layout

block layout-content 
  h1 Administer menu links 
  a(href="/admin/menu/add") + Add new link
  table 
    thead 
      tr 
        th Link 
        th Actions 
    tbody 
      each link in links 
        tr 
          td #{link.name} (#{link.path})
          td
            //- Delete form is a GET form (forms have method="get" by default)
            form(action="/admin/menu/delete")
              input(type="hidden", name="linkId", value=link._id)
              button(type="submit") Delete