extends layout

block layout-content
    .about-page
        h1 About Biblichor
        //- https://unsplash.com/photos/books-on-the-shelf-photograph-bByhWydZLW0
        img.about-image(src="/images/5.jpg")

        p Welcome to Biblichor, where the aroma of aged paper and fresh ink mingles to create an intoxicating scent for book lovers. The term "biblichor" refers to this very particular, delightful smell of old books, and we strive to embody that comforting and inspiring essence in our store.

        p Founded in 2024, Biblichor was born from a passion for stories and the tangible joy of holding a book. We are more than just a bookstore; we are a community hub for readers, writers, and dreamers. Our shelves are carefully curated to offer a diverse selection, from timeless classics and contemporary bestsellers to hidden gems by indie authors and thought-provoking non-fiction.

        h2 Our Mission
        p Our mission is to foster a love of reading by providing a welcoming space (both online and eventually, physically!) where individuals can discover new narratives, engage in meaningful conversations, and connect with fellow book enthusiasts. We aim to support authors and promote literacy within our community.

        h2 What We Offer
        ul
            li A wide range of genres including fiction, fantasy, science fiction, mystery, historical fiction, non-fiction, poetry, and children's books.
            li Special orders for books not currently in stock.
            li Recommendations from our passionate and knowledgeable staff.
            li A selection of book-related merchandise, such as literary-themed gifts, stationery, and reading accessories.

        p We invite you to browse our online collection and hope you find your next favorite read with us. Thank you for supporting Biblichor!