doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title} | Test App
        link(rel="stylesheet", href="/css/styles.css")
        block scripts 
            script(async, defer, src="/js/common.js")
    body 
        header#header
            h2.site-name 
                a(href="/") Test App 
            main#main 
                //- Dynamic main content here
                block layout-content 
            footer#footer 
                p &copy; Copyright HTTP5222, 2025. 